*{
    margin: 0;
    padding: 0%;
}
.container{
    height: 650px;
    width: 900px;
    background-color: #6E8898FF;
    margin: 10px auto;
    position: relative;
}

.main{
    height: 300px;
    width: 600px;
    background-color: rgb(184, 193, 199);
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 0px;
}
.heading{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: #2E5266FF;
    font-weight:300;
}
.dropdown{
    position: absolute;
    bottom: 18%;
    left: 18%;
    text-align: center;

}
.btn{
 background-color:#2E5266FF;
 color:  rgb(184, 193, 199);
 padding: 8px;
 border-radius: 20px;
 font-size: 14px;
 margin-right: 10px;
}